* {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: rgb(0, 0, 33);
            color: white;
            font-family: 'Poppins', sans-serif;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background-color: rgb(18, 18, 62);
        }

        nav ul {
            display: flex;
            justify-content: center;
        }

        nav ul li {
            list-style: none;
            margin: 0 23px;
        }

        nav ul li a{
            text-decoration: none;
            color: white;
        }

        nav ul li a:hover{
            color: rgb(153, 153, 226);
            font-size: 1.02rem;
        }

        .left {
            
            font-size: 1.5rem;
        }

        .firstSection {
            display: flex;
            justify-content: space-around;
            margin: 50px 0;
            align-items: center;
        }

        .firstSection > div {
            width: 30%;
        }

        .leftSection {
            font-size: 1rem;
        }   

        .mail {
            display: flex;
        }
        
        .mail p {
            margin-left: 10px;
        }

        .insta {
            display: flex;
        }
        
        .insta p {
            margin-left: 10px;
        }

        .logo {
            font-size: 2rem;
            
        }

        .logo1:hover {
            color: rgb(153, 153, 226);
            font-size: 2.2rem;
        }

        .logo2:hover {
            color: rgb(153, 153, 226);
            font-size: 2.2rem;
        }

        .logo3:hover {
            color: rgb(153, 153, 226);
            font-size: 2.2rem;
        }

        .logo4:hover {
            color: rgb(153, 153, 226);
            font-size: 2.2rem;
        }
        
        .rightSection img{
            width: 80%;
            margin: 50px 0;
        } 

        .purple {
            color: rgb(170, 107, 228);
        }

        .secondSection {
            max-width: 80%;
            margin: auto;
        }